@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #161616;
    transition: background-color .5s;
}

::-webkit-scrollbar {
    width: 2px;
}
  
::-webkit-scrollbar-track {
    background: #282828;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #161616;
}