body{
    text-align: center;
}

.byo_body{
    width: 100vw;
    height: 90vh;
    display: flex;
    top: 10vh;
}

.byo_scrolled{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.byo_category2{
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    width: 100vw;
    top: 5%;
}

#byo_category3{
    font-family: 'Poppins', sans-serif;
    color: red;
    width: 100vw;
    position: absolute;
    top: 11%;
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.content{
    position: relative;
    top: 7%;
    margin-top: 4%;
}

.byo_buildContainer{
    position: relative;
    display: inline-table;
    text-align: center;
    margin-left: 5%;
    width: 15vw;
    height: 30vh;
    background-color: white;
    border-radius: 1%;
}

.cpu, .graphics{
    margin-left: 0%;
}

.piece:hover{
    transform: scale(1.2);
}

.title{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    color: #282828;
    top: 5%;
}

.piece{
    transition: transform 0.25s ease-out;
    position: relative;
    width: auto;
    height: 15vh;
    top: 17%;
}

.modelo{
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: #282828;
    top: 25%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 1%;
}

.check{
    position: absolute;
    top: 82%;
    left: 89%;
    transform: translateX(-50%);
    padding: 10px;
    border: none;
    outline: none;
    display: inline-block;
    background-color: white;
    color: #282828;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.check:hover{
    color: white;
    background-color: #282828;
}

#buttons{
    position: relative;
    top: 12%;
    left: 49.3%;
    width: 50%;
    height: 10vh;
}

#verify{
    font-family: 'Poppins', sans-serif;
    background-color: #EE7154;
    border: none;
    border-radius: 0.5vh;
    width: 35%;
    height: 70%;
    color: white;
    transition: transform 0.3s;
}

#verify:hover{
    border: #EE7154 1px solid;
    background-color: #161616;
    cursor: pointer;
    transform: scale(1.05);
}

#save{
    font-family: 'Poppins', sans-serif;
    background-color: #EE7154;
    border: none;
    border-radius: 0.5vh;
    width: 17%;
    height: 70%;
    color: white;
    margin-left: 2%;
    transition: transform 0.3s;
    -moz-animation: transformanimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: transformanimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: transformanimation 0s ease-in 5s forwards;
    /* Opera */
    animation: transformanimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes transformanimation {
    from {
        background-color: green;
    }
    to {
        background-color: #EE7154;
    }
}
  
@-webkit-keyframes transformanimation {
    from {
        background-color: green;
    }
    to {
        background-color: #EE7154;
    }
}

#save:hover{
    border: #EE7154 1px solid;
    background-color: #161616;
    cursor: pointer;
    transform: scale(1.05);
}